- @post ||= post
- welcome ||= false
.post
  %h1= @post.title
  %small= @post.created_at.to_formatted_s(:short)
  %br
  - if welcome
    = @post.content.html_safe[0, Setting.post_character_limit]
    %p{class: 'read_more'}
      = link_to(t('read_more'), post_path(@post))
  - else
    = @post.content.html_safe
  .fb-comments{data: {href: facebook_url(@post), numposts: '5', colorscheme: 'light'}}
- if user_signed_in? and not welcome
  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), posts_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@post), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(@post), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
